<p>{{ sections_text.end_introduction.text | striptags(true) | escape | nl2br }}</p>
{# {% for line in sections_text.end_introduction.text %}

    <p>{{ line }}</p>

{% endfor %} #}
{# <p>{{ sections_text.end_introduction.text }}</p> #}