<div class="highlight px-3 px-md-5 mb-4" id="next_singings">

    {{ sections_text.next_singings.text | markdownify | safe }}

<div id="upcoming-singings">
        <p>
            Our next singings are on: <span class="font-italic font-weight-bold"><span id="next-singing">Saturday {{ nextSingings[0] }}</span><span class="font-weight-normal">, </span><span id="second-next-singing">{{ nextSingings[1] }}</span><span class="font-weight-normal">, and </span><span id="third-next-singing">{{ nextSingings[2] }}</span><span class="font-weight-normal">.</span></span>
        </p>

    </div>

</div>