<div class="highlight px-3 px-md-5 mb-4" id="next_singings">

    {{ sections_text.next_singings.text | markdownify | safe }}

    <!-- upcoming singings html inserted here with Javascript -->
    <div id="upcoming-singings"></div>

</div>