<div class="highlight px-3 px-md-5 mb-4" id="next_singings">
    <p>
        <span class="font-italic font-weight-bold">We sing every 2nd and 4th Saturday 2pm - 4pm</span> at <a href="#venue" class="font-italic font-weight-bold" id="map-link">Antioch House, 66 Crossgate, Durham, DH1 4PR</a>.
    </p>

    <!-- upcoming singings html inserted here with Javascript -->
    <div id="upcoming-singings"></div>

</div>