<div class="notification px-3 px-md-5" id="notification">
    <p>Unfortunately the singings on <strong>13th</strong> and <strong>27th October</strong> are off. We'll be singing again on <strong>27th November</strong></p>
</div>