<h2 class="text-center pb-2">
    <u>{{ sections_text.venue.sectionTitle | safe }}</u>
</h2>
<div class="text-center">
    {{ sections_text.venue.venueAddress | markdownify | safe }}
</div>

{{ sections_text.venue.venueDescription | markdownify | safe }}

<div class="text-center mb-0">
    <small>{{ sections_text.venue.clickMapsInstruction | safe }}</small>
</div>

<a
    href="{{ sections_text.venue.GoogleMapsLink | safe }}">
    <img src="{{ sections_text.venue.GoogleMapsImage | safe }}" class="img-fluid mx-auto d-block" alt="{{ sections_text.venue.GoogleMapsImageAltText | safe }}">
</a>
<div class="text-right">
    <small>{{ sections_text.venue.GoogleMapsLegal | markdownify | safe }}</small>
</div>