<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.shortDescription }}" />
<meta property="og:image" content="{{ site.url }}/assets/images/dsh_new_share_image.png" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.author.twitterUsername }}">
<meta name="twitter:creator" content="{{ site.author.twitterUsername }}">
<meta name="twitter:title" content="{{ site.shortDescription }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.url }}/assets/images/dsh_new_share_image_twitter.png">
<meta name="google-site-verification" content="_wn5kDD-KQIqThtDEBTZNvmbzzF3UoENjI3VURcHtqs" />
