<div class="row mt-4 sticky-top" id="navbar-row">
    <nav class="navbar navbar-default navbar-expand-lg col-10 offset-1 col-lg-8 offset-lg-2" id="navbar">
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span>Menu</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mx-auto pl-4 pr-5 pl-lg-2 pr-lg-2 mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#start">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#next_singings">Next Singings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#venue">Venue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-us">Contact Us</a>
                </li>
                <!--
                        <li class="nav-item">
                            <a class="nav-link" href="#get-updates">Get Updates</a>
                        </li>
                        -->
                <li class="nav-item">
                    <a class="nav-link" href="#more-information">More Information</a>
                </li>
            </ul>
        </div>

    </nav>

</div>